<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products list</h1>
    {{range .}}
    <p>{{.Name}}</p>
    <ul>
        <li>Category: {{.Category.Name}}</li>
        <li>Manufacturer: {{.Manufacturer.Name}}</li>
        <li>Price: {{.Price}}</li>
        <li>Amount: {{.Amount}}</li>
        <li>Description: {{.Description}}</li>
    </ul>
    {{end}}
</body>
</html>